

.button {
    background-color: rgb(41, 72, 121);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: bold ;
    cursor: pointer;
    border: none;
    padding: 0 10px;
    color: #eee;
}
