.task-container {
    background-color: #444;
    margin: 8px 0;
    
    padding-left: 1.2rem;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    color: #eee;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.delete-task-button {
    margin-right: .2rem;
    cursor: pointer;
    border: none;
    padding: 0;
    font-size: 16px;
    color: rgb(70, 126, 216);
    background-color: #444;
    place-items: center;
    height: 100%;
}

.info-task-button {
    margin-right: .4rem;
    border: none;
    background-color: #444;
    color: rgb(70, 126, 216);
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}