.task-container {
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    color: #eee;
    align-items: center;
}