.container {
  max-width: 25rem;
  margin: 1.875rem auto;
  padding: 1rem;
  overflow: auto;
  min-height: 16.75rem;
  border: 2px solid rgb(31, 63, 116);
  border-radius: 10px;
}
p {
  color: aliceblue;
  text-transform: capitalize;
  text-align: center; 
}
header {
  font-size: 26px;
  color: #eee;
}