.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 2rem;
  overflow: auto;
  min-height: 300px;
  border: 2px solid rgb(31, 63, 116);
  border-radius: 10px;
}
p {
  color: aliceblue;
  text-transform: capitalize;
  text-align: center;
  
  
  
}